.videoCard {
  align-items: center;
  background: #f7f7f7;
  color: black;
  display: flex;
  gap: 20px;
  justify-self: center;
  text-decoration: none;
  width: 80%;
}

.videoCard img {
  border-radius: 5px;
}

.cardContent {
  height: 100%;
  width: 100%;
}
