.subscriptionCard {
  align-items: center;
  background: var(--background-color-light);
  border: 1px solid black;
  border-radius: 10px;
  color: var(--font-color-default);
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .subscriptionCard {
    align-items: flex-start;
    overflow: unset;
    padding: 0;
  }
}

.channel {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 100%;
  justify-content: center;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .channel {
    flex-direction: column;
  }
}

.channel h4 {
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

.channel img {
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

@media screen and (max-width: 768px) {
  .channel img {
    height: 4em;
    width: 4em;
  }
}

.button {
  width: 20%;
}

.button svg {
  background: var(--background-color-semi-light);
  border: 1px solid black;
  border-radius: 5px;
  color: var(--accent-color-accept);
  height: 1.5rem;
  stroke-width: 5rem;
  width: 1.5rem;
}

.isSelected svg {
  color: var(--accent-color-reject);
}
