.subscriptionSelector {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.header {
  align-items: center;
  background: var(--background-color-semi-dark);
  display: flex;
  height: 3em;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.iconButton svg {
  background: var(--accent-color-neutral);
  border: 1px solid black;
  border-radius: 5px;
}

.selections {
  align-self: center;
  display: grid;
  row-gap: 5px;
  max-height: 85vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .selections {
    gap: 30px;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 10px;
    width: 90%;
  }
}

.divider {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .divider {
    display: none;
  }
}
