.subscriptionSelector {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  align-items: center;
  background: #d5d5d5;
  border: 1px solid black;
  display: flex;
  height: 3em;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
}

.iconButton svg {
  background: #e5e5e5;
  border: 1px solid black;
  border-radius: 5px;
}

.iconButton svg:hover {
  opacity: 50%;
}

.selections {
  border: 1px solid black;
  display: grid;
  row-gap: 5px;
  max-height: 85vh;
  overflow-y: scroll;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .selections {
    gap: 20px;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
  }
}

.divider {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .divider {
    display: none;
  }
}
