:root {
  --accent-color-accept: green;
  --accent-color-day: yellow;
  --accent-color-link: #0560d4;
  --accent-color-neutral: #efefef;
  --accent-color-night: darkblue;
  --accent-color-reject: red;

  --button-primary-background-color: black;
  --button-primary-border-color: black;
  --button-primary-font-color: white;

  --button-secondary-background-color: transparent;
  --button-secondary-border-color: black;
  --button-secondary-font-color: black;

  --background-color: white;
  --background-color-light: #f7f7f7;
  --background-color-semi-light: #e6e6e6;
  --background-color-semi-dark: #d5d5d5;

  --font-color-default: black;
  --font-color-inverted: white;
  --font-color-neutral: gray;
  --font-color-semi-inverted: #1a1111;

  background: white;
}

[data-theme='dark'] {
  --accent-color-link: #3fa5ff;

  --background-color: black;
  --background-color-light: #313030;
  --background-color-semi-light: #5a5a5a;
  --background-color-semi-dark: #6d6d6d;

  --button-secondary-background-color: transparent;
  --button-secondary-border-color: white;
  --button-secondary-font-color: white;

  --font-color-default: white;
  --font-color-inverted: black;
  --font-color-neutral: gray;
  --font-color-semi-inverted: #e5eeee;

  background: black;
}

input:-webkit-autofill {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px rgba(255, 255, 255, 1);
}

button:hover {
  opacity: 75%;
}

@media screen and (max-width: 768px) {
  button:hover {
    opacity: 100%;
  }
}
