.modal {
  background: var(--background-color-light);
  overflow: hidden;
  padding: 20px;
  height: 50% !important;
  width: 40% !important;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 75% !important;
  }
}

.headerContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

.clearButton {
  background: none;
  border: none;
  color: var(--accent-color-reject);
  cursor: pointer;
  font-weight: bold;
  min-height: 40px;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.field {
  color: var(--font-color-default);
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 60px;
  width: 100%;
}

.field input {
  background: var(--background-color-light);
  border: 1px solid var(--font-color-default);
  border-radius: 5px;
  color: var(--font-color-default);
  height: 100%;
}

.submitButton {
  align-self: flex-end;
  background: var(--accent-color-submit);
  border-radius: 18px;
  color: var(--font-color-inverted);
  cursor: pointer;
  min-height: 40px;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .submitButton {
    width: 100%;
  }
}
