.modal {
  background: var(--background-color-light);
  overflow: hidden;
  max-height: 75% !important;
  padding: 20px;
  width: 40% !important;
}

@media screen and (max-width: 768px) {
  .modal {
    height: 60%;
    width: 75% !important;
  }
}

.headerContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.clearButton {
  background: none;
  border: none;
  color: var(--accent-color-reject);
  cursor: pointer;
  font-weight: bold;
  min-height: 40px;
}

.form {
  align-items: center;
  border: 1px solid var(--font-color-default);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  padding: 20px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.field {
  color: var(--font-color-default);
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 60px;
  width: 100%;
}

.field input {
  background: var(--background-color-light);
  border: 1px solid var(--font-color-default);
  border-radius: 5px;
  color: var(--font-color-default);
  height: 100%;
}

.buttons {
  display: flex;
  gap: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .buttons {
    flex-direction: column;
  }
}

.closeButton {
  background: var(--button-secondary-background-color);
  border: 1px solid var(--button-secondary-border-color);
  border-radius: 18px;
  color: var(--button-secondary-font-color);
  cursor: pointer;
  min-height: 40px;
  width: 100%;
}

.submitButton {
  background: var(--button-primary-background-color);
  border: 1px solid var(--button-primary-border-color);
  border-radius: 18px;
  color: var(--button-primary-font-color);
  cursor: pointer;
  min-height: 40px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .submitButton {
    width: 100%;
  }
}
