.subscriptionCard {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  padding: 0 20px;
}

.channel {
  align-items: center;
  display: flex;
  gap: 10px;
  max-width: 80%;
}

.channel h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.channel img {
  border-radius: 50%;
  height: 3em;
  width: 3em;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
}

.button svg {
  color: green;
  height: 1.5rem;
  stroke-width: 5rem;
  width: 1.5rem;
}

.isSelected svg {
  color: red;
}
