.gallery {
  background: var(--background-color-light);
  border: 1px solid var(--accent-color-neutral);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;

  &.empty {
    opacity: 0.5;
  }
}

.header {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}

.channel {
  align-items: center;
  color: var(--font-color-default);
  cursor: pointer;
  display: flex;
  fill: var(--font-color-default);
  flex-wrap: nowrap;
  justify-self: center;
  min-height: 64px;
  overflow: hidden;
  padding-left: 10px;
}

.channel img {
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
}

.channel h2 {
  overflow: hidden;
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.icons {
  display: flex;
  fill: var(--font-color-default);
  gap: 20px;
  height: 100%;
  justify-content: flex-end;
  padding-right: 10px;
}

.linkButton {
  background: none;
  border: none;
  cursor: pointer;
}

.linkButton svg {
  fill: var(--font-color-default);
}

.open svg {
  transform: rotate(90deg);
}

.items {
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
}

@media screen and (max-width: 768px) {
  .items {
    grid-template-columns: 1fr;
  }
}

.loadMore {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loadMore button {
  align-items: center;
  background: var(--button-primary-background-color);
  border: 1px solid var(--button-primary-border-color);
  border-radius: 24px;
  color: var(--button-primary-font-color);
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: space-around;
  margin: 10px;
  width: 75%;
}
