.header {
  align-items: center;
  border: 1px solid black;
  background: #e6e6e6;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.headerIcon {
  fill: red;
  height: 50px;
  width: 50px;
}

.icons {
  display: flex;
  gap: 10px;
}

.icons button {
  cursor: pointer;
  height: 50px;
  width: 50px;
}
