.header {
  align-items: center;
  border: 1px solid black;
  background: var(--background-color);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.headerIcon {
  fill: var(--accent-color-reject);
  height: 50px;
  width: 50px;
}

.icons {
  display: flex;
  gap: 10px;
}

.icon {
  fill: var(--font-color-default);
  height: 50px;
  width: 50px;
}

.icon:hover {
  opacity: 50%;
}
